h1 {
  font-weight: 500;
  margin-bottom: 0;
}
img {
  width: 30px;
}
p {
  font-size: 12px;
  text-align: center;
}
hr {
  color: rgb(146, 143, 143);
  margin-top: 50px;
}
p a {
  text-decoration: none;
  color: #0f1b72;
  font-weight: bolder;
}

.project {
  max-width: 60%;
  background: linear-gradient(
    178.6deg,
    rgb(162, 213, 245) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  margin: 40px auto;
  border: 1px solid rgb(185, 181, 181);
  border-radius: 10px;
  padding: 20px 20px 0;
  font-family: "Roboto Mono", monospace;
}
.form-control {
  background-color: rgb(250, 247, 247);
  border: 1px solid #070f4e;
}
.button {
  font-size: 17px;
  padding: 6px 45px;
  background-color: #070f4e;
  border: 1px solid #070f4e;
  border-radius: 5px;
  color: white;
}

.unitDescription,
.date,
.days {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}
.variableConditions,
.conditionMark {
  color: #0855c2;
  font-size: 15px;
  font-weight: 400;
}

.weatherDescription {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0.8;
  font-family: "Courgette", cursive;
}
.weatherDescription::first-letter {
  text-transform: capitalize;
}

.weather-icon {
  position: relative;
  top: -25px;
  right: -10px;
  width: 75px;
}
.temp {
  font-weight: 500;
  font-size: 65px;
}
.tempUnits {
  display: inline;
  position: relative;
  top: -35px;
  left: -14px;
}

.active {
  color: black;
}
.tempValue a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.fahrenheitMark {
  position: relative;
  left: -5px;
}
